/* MEDIA QUERIES! DESKTOP FIRST! */

@media only screen and (max-width: 768px) {
    .cardholder {
        flex-direction: column;
        align-items: center;
    }
    .card:nth-child(2) {
        padding: 3rem;
    }
    .card {
        width: 90%;
        justify-content: space-evenly;
    }
    select {
        height: 2rem;
        margin: .5rem 0 1rem 0;
    }
}

@media only screen and (max-width: 425px) {
    .card {
        flex-direction: column;
        align-items: center;
    }
    .cardContent {
        margin: .5rem 0;
        justify-content: center;
      
    }
    .laptop-view {
        flex-direction: column;
        padding: 3rem;
        margin: 1;
       
    }
    .descriptionDiv {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;;
        padding: 0;
    }
    .priceAndBuyBtn {
        margin-bottom: 2rem;
    }
}