* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Roboto', sans-serif;

}

/* HEIGHT AND WIDTH CLASSES */
.w-100 {
    width: 100%;
}
.w-90 {
    width: 90%;
}
.w-70 {
    width: 70%;
}
.h-100 {
    height: 100%;
}
/* --- */

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 4rem;
    background-color: black;
    color: white;
    padding: 0 1rem;
}


h4, h3 {
    padding: 0 0 .5rem 0;
}
body {
    background-color: #fafffd;;
}
main {
    margin-top: 3rem;
    max-width: 1024px;
    padding: 1.5rem 0;
}

/* CLASSES */
.logoDiv > img{
    max-height: 3.6rem;
}

.cardholder {
    margin-bottom: 2rem;
}

.laptopContainer {
    padding: 1rem;
}

.laptop-view { 
    background: #FFFFFF;
    border: 1px solid #F7F7F7;
    box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.25);
    border-radius: 28px;
    padding: 1.5rem;
}

.descriptionDiv {
    max-width: 500px;
    padding: 0 2rem;
}

.card{
    background-color: #FFFFFF;
    border: 1px solid #F7F7F7;
    box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.25);
    border-radius: 28px;
    width: 50%;
    
    margin: 1rem;
    padding: 1.5rem;
}

.cardContent {
    min-height: 10rem;
    width: 10rem;

}

.cardContent > div > P, .cardContent > div >span > P {
    font-size: .8rem;
}

.card > div > p {
    font-size: .8rem;
}

.card > .button-div {
    height: 100%;
}

select {
    background-color: white;
    border: 1px solid rgb(150, 150, 150);
    border-radius: 20px;
    height: 3rem;
    padding: 0 1rem;
    max-width: 15rem;
}

.img-div {
    max-width: 15rem; 
}

.img-div > img {
    border-radius: 15px;
    object-fit: contain;
    object-position: center;
    max-width: 100%;
    height: auto;
}

.priceAndBuyBtn {
    padding-top: 1rem;
    width: fit-content;
}


